<html>

<head>
    <title> Todo app </title>
    <link href="/styles.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h2> Simple Todo app for Azure DevOps POC</h2>
        <h3>This is brought to you by the Kruger DevOps Team</h3>
        <p>This is an added paragraph</p>
        <form action="/addtask" method="POST">
            <input type="text" name="newtask" placeholder="add new task"> <button> Add Task </button>
            <h2> Added Task </h2>
            <% for( var i=0; i < task.length; i++){ %>
                <li><input type="checkbox" name="check" value="<%= task[i] %>" />
                    <%= task[i] %>
                </li>
                <% } %>

                    <button formaction="/removetask" type="submit"> Remove </button>

                    <h2> Completed task </h2>
                    <% for(var i=0; i < complete.length; i++){ %>
                        <li><input type="checkbox" checked>
                            <%= complete[i] %>
                        </li>
                        <% } %>
        </form>
    </div>
</body>

</html>